# everything
/*

# except
!.gitignore
!.bash_aliases
!.bash_functions
!.bashrc_custom
!.tmux.conf
!README.md

!helpers.py

# fun little exercise in allowing for a specific file in nested subdirectories
!.vscode-server/
.vscode-server/*
!.vscode-server/data/
.vscode-server/data/*
!.vscode-server/data/Machine/
.vscode-server/data/Machine/*
!.vscode-server/data/Machine/settings.json

!.config/
.config/*
!.config/micro/
.config/micro/*
!.config/micro/bindings.json

# !strap/
# strap/*
# !strap/.vscode/
# strap/.vscode/*
# !strap/.vscode/strap_snippets.code-snippets
